<div class="grid-container">
  <div class="grid-item-logo">
    <img src="../../assets/img/clear-web.png">
  </div>
  <div class="grid-item">
    <table>
      <tr>
        <th>TYPES</th>
        <th></th>
      </tr>
      <tr>
        <td><div  *ngIf="ClearWebData" class="text" > {{ClearWebData.Types.AttackIndication}}  </div></td>
        <td>$100</td>
      </tr>
      <tr>
        <td>February</td>
        <td>$80</td>
      </tr>
    </table>
  </div>
  <div class="grid-item">3</div>
  <div class="grid-item">4</div>
</div>
