<div class="grid-container" *ngIf="ClearWebData">
  <div class="grid-item-logo">
    <img src="{{imgDir}}clear-web.png">
  </div>
  <div class="grid-item">
    <table class="types">
      <tr>
        <th>TYPES</th>
        <th></th>
      </tr>
      <tr>
        <td>
          <img class="icon" src="{{imgDir}}Icon1.png">
          <div class="tableNumers"> {{ClearWebData.Types.AttackIndication}}</div>
          <div class="tableText">ATTACK 
            INDICATION
          </div>
        </td>
        <td>
          <img class="icon" src="{{imgDir}}Icon4.png">
          <div class="tableNumers"> {{ClearWebData.Types.DataLeakage}}</div>
          <div class="tableText">DATA 
            LEAKAGE
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <img class="icon" src="{{imgDir}}Icon2.png">
          <div class="tableNumers"> {{ClearWebData.Types.Phishing}}</div>
          <div class="tableText">PHISHING
          </div>
        </td>
        <td>
          <img class="icon" src="{{imgDir}}Icon5.png">
          <div class="tableNumers"> {{ClearWebData.Types.BrandSecurity}}</div>
          <div class="tableText">BRAND 
            SECURITY
          </div>
        </td>
      </tr>
      <tr>
        <td style="border:0px">
          <img class="icon" src="{{imgDir}}Icon3.png">
          <div class="tableNumers"> {{ClearWebData.Types.ExploitableData}}</div>
          <div class="tableText">EXPLOITABLE
             DATA™
          </div>
        </td>
        <td style="border:0px">
          <img class="icon" src="{{imgDir}}Icon6.png">
          <div class="tableNumers"> {{ClearWebData.Types.vip}}</div>
          <div class="tableText">VIP
          </div>
        </td>
      </tr>
    </table>
  </div>
  <div class="grid-item">
    <table>
      <th class="sevirityCell">SEVERITIES</th>
      <tr>

        <div class="doughnut">
          <canvas baseChart height="110px" 
          [labels]="doughnutChartLabels" 
          [data]="[ClearWebData.Severities.High,ClearWebData.Severities.Medium,ClearWebData.Severities.Low]"
          [chartType]="doughnutChartType" 
          [colors]="colors" 
          [options]="doughnutChartOptions" 
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>

        </div>
      </tr>
      <tr>
        <div class="inner-grid-container">
          <div>
            <div class="tableText" style="padding-left: 0px;">HIGH</div>
            <div class="tableNumers">{{ClearWebData.Severities.High}}</div>
          </div>
          <div>
            <div class="tableText" style="padding-left: 0px;">MEDIUM</div>
            <div class="tableNumers">{{ClearWebData.Severities.Medium}}</div>
          </div>
          <div>
            <div class="tableText" style="padding-left: 0px;">LOW</div>
            <div class="tableNumers">{{ClearWebData.Severities.Low}}</div>
          </div>
        </div>
      </tr>
    </table>
  </div>
  <div class="grid-item">
    <table>
      <th >SOURCES (%)</th>
      <tr>
        <div class="sourcesContainer">
          <div class="tableText" style="padding-left: 0px;">APPLICATION STORES</div>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-blue w3-round-xlarge" [style.width.%]="[ClearWebData.Sources.ApplicationStores]"> </div>
          </div>
          <div class="tableText sourcesText">{{ClearWebData.Sources.ApplicationStores|round:0 }}</div>
          <br>
          <div class="tableText" style="padding-left: 0px;">SOCIAL MEDIA</div>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-blue w3-round-xlarge" [style.width.%]="[ClearWebData.Sources.SocialMedia]"> </div>
          </div>
          <div class="tableText sourcesText">{{ClearWebData.Sources.SocialMedia|round:0 }}</div>
          <br>
          <div class="tableText" style="padding-left: 0px;">PASTE SITES</div>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-blue w3-round-xlarge" [style.width.%]="[ClearWebData.Sources.PasteSites]"> </div>
          </div>
          <div class="tableText sourcesText">{{ClearWebData.Sources.PasteSites|round:0 }}</div>
          <br>
          <div class="tableText" style="padding-left: 0px;">OTHERS</div>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-container w3-blue w3-round-xlarge" [style.width.%]="[ClearWebData.Sources.Others]"> </div>
          </div>
          <div class="tableText sourcesText">{{ClearWebData.Sources.Others|round:0 }}</div>
          <br>
        </div>
      </tr>
    </table>
  </div>
</div>