body{
    margin-left: -0.6em;
    margin-top: -0.7em;
    margin-right: -0.6em;
}
.header {
    overflow: hidden;
    background-color: #1a3951;
    max-height: 5.4em;
    margin-bottom: 0em;
    width: 100%;

  }
  .container{
    margin: auto;
    background-color: #1c5079;
    padding-top: 90px;
    padding-left:2%;
    position: absolute;
    top: 64px;
    bottom: 0px;
    left: 6%;
    right:8%;
    width: 77%;
    min-width: 125em;
  }

  