/* You can add global styles to this file, and also import other style files */
body{
    background-color: #192934;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color:white;
}
.types {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
}

th {
    display: table-cell;
    padding-top: 5px;
    padding-left:20px;
    padding-right:19em;
    padding-bottom: 4px;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    background-color:#203c52;
}
.types tr td{
    border-bottom:1pt solid #203e56;
}
.types td {
    vertical-align: top;
    padding-left: 20px;
    padding-top: 15px;  
}
 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
    padding-bottom: 2px;
  }
  .grid-item {
    background-color:#214a6b;
    border-left: 2% solid #1c5079;
    border-right: 10px solid #1c5079;
    margin-bottom: 18px;

  }
  .grid-item-logo {
    background-color:#1e5078;
    padding-right: 15px;
  }

  .tableNumers{
    font-size: 16px;
    font-weight: bold;
    display:-webkit-inline-box;
    vertical-align: top;
}
  .icon{
    vertical-align: top;
    display:-webkit-inline-box;
}
  .tableText{
    white-space: pre-line;
    display: block;
    padding-left: 47px;
    margin-top: -16px;
}

.sevirityCell{
    padding-right: 335px
}
.inner-grid-container {
    display: grid;
  
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    
 
  }
  .inner-grid-container > div {
    padding-left: 45px;
    padding-top: 32px;
    margin-bottom: 4px;
    
  }
  .doughnut{
    display: block;
    padding-top: 20px;
}
  .w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{
    color:#000!important;background-color:#1c374a!important;
    width: 83%;
    margin-top:3px; 
    margin-bottom:16px;  

}

  .w3-round-xlarge{
    border-radius:16px;
    border-radius: 16px;
    height: 6px;
  
    
}


  .w3-blue,.w3-hover-blue:hover{
    color:#fff!important;background-color:#8bb5d5!important;

}

.sourcesContainer{
    padding-top:35px;
    padding-left:18px;
}

.sourcesText{
    float: right;
    margin-top: -28px;
    padding-right: 7%;
}