/* You can add global styles to this file, and also import other style files */
body{
    background-color: #192934;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color:white;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
    border-color: grey;
}
th {
    display: table-cell;
   padding-top: 5px;
    padding-left:20px;
    padding-right:200px;
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: lighter;
    text-align: center;
    background-color:#203c52;
}
tr td{
    border-bottom:1pt solid #203e56;
}
td {
    vertical-align: top;
    padding-left: 20px;
    padding-top: 15px;  
}
 .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: fit-content;
    padding-bottom: 2px;
  }
  .grid-item {
    background-color:#214a6b;
    border-left: 10px solid #1c5079;
    border-right: 10px solid #1c5079;
    margin-bottom: 29px;

  }
  .grid-item-logo {
    background-color:#1e5078;
  }

  .tableNumers{
    font-size: 16px;
    font-weight: bold;
    display:-webkit-inline-box;
    vertical-align: top;
}
  .icon{
    vertical-align: top;
    display:-webkit-inline-box;
}
  .tableText{
    white-space: pre-line;
    display: block;
    padding-left: 47px;
    margin-top: -16px;
}
